[submodule "mediasoup-client-aiortc"]
	path = mediasoup-client-aiortc
	url = git@github.com:cvlvxi/mediasoup-client-aiortc.git
[submodule "mediasoup"]
	path = mediasoup
	url = git@github.com:cvlvxi/mediasoup.git
[submodule "mediasoup-client"]
	path = mediasoup-client
	url = git@github.com:cvlvxi/mediasoup-client.git
